<form style="margin: 10px auto;width: max-content" method="get" action="{% url 'blog:post_search' %}">
    <input type="text" name="query" placeholder="جستوجو..." required>
    <input type="submit" value="جستوجو">
</form>
<div style="display: block;width: 100%">

	<span style="float: left; direction: rtl;">

    {% if request.user.is_authenticated %}
        <p><a href="{% url 'account:profile' %}">{{ request.user.username }}</a></p>
        <p><a href="{% url 'account:logout' %}">Logout</a></p>

    {% else %}
        <a href="{% url 'account:login' %}">{{ "ورود | ثبت نام" }}</a>
    {% endif %}

    </span>

    <span style="float: right; direction: rtl"><a href="{% url 'home' %}">home</a></span>
</div>
