{% extends 'parent/base.html' %}
{% block title %}
    Post Form
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {# for edit post #}
        {% if  post %}
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'image_1' %}
                    {# if images post exist showing them below  #}
                    {% for image in post.images.all %}
                        <a href="{{ image.image_file.url }}">{{ image.image_file.name }}</a>
                        <br>
                        تغییر:
                        <input type="file" name="image_{{ image.id }}" accept="image/*">
                        <a href="{% url 'blog:delete_image' image.id %}">حذف</a>
                        <br><br>
                    {% empty %}
                        {{ field }}
                    {% endfor %}
                {% else %}
                    <p>{{ field }}</p>
                {% endif %}
            {% endfor %}
            <input type="submit">
            <br><br>

        {% else %}
            {# for create post #}
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit">
            <br><br>
        {% endif %}


    </form>

{% endblock %}