{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% with post.images.all as post_images %}
        <h1 class="post-detail">{{ post.title }}</h1>

        {% images post_images 0 2 %}

        <p class="author"> نویسنده : <a href="{% url 'account:auther_detail' post.auther %}">{{ post.auther }}</a></p>
        <span class="pub-date">{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</span>
        <div class="des">
            <p class="des-p">{{ post.description | markdown |censorship }}</p>

            {% images post_images 2 4 %}

        </div>

        {% images post_images 4 5 %}

    {% endwith %}
    <hr>

    {% with comments.count as comment_count %}
        <p>{{ comment_count }} comment{{ comment_count|pluralize }}</p>
    {% endwith %}

    {% for comment in comments %}
        <h4>{{ comment.name }}:</h4>
        <p>{{ comment.body|linebreaks }}</p>
    {% empty %}
        <p>کامنتی برای این پست ثبت نشده است</p>
    {% endfor %}
    {% include 'forms/comment.html' %}

{% endblock %}