{% extends 'parent/base.html' %}
{% load jformat %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1 class="post-detail">{{ post.title }}</h1>
    <p class="author">author: {{ post.author }}</p>
    <span class="pub-date">{{ post.publish|jformat:"%Y/%m/%d-%H:%M" }}</span>
    <div class="des">
        <p class="des-p">{{ post.description | linebreaks }}</p>
    </div>

    <hr>
    {% with comments.count as comment_count %}
        <p>{{ comment_count }} comment{{ comment_count|pluralize }}</p>
    {% endwith %}

    {% for comment in comments %}
        <h4>{{ comment.name }}:</h4>
        <p>{{ comment.body|linebreaks }}</p>
    {% empty %}
        <p>کامنتی برای این پست ثبت نشده است</p>
    {% endfor %}

    {% include 'forms/comment.html'%}

{% endblock %}